<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="hu" dir="ltr" lang="hu">
    <head>
        <title>{{site.title}} {% if page.title is defined %} » {{page.title}}{% endif %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="{{site.root}}/assets/img/favicon.ico" type="image/x-icon">
        <link type="text/css" rel="stylesheet" media="all" href="{{site.root}}/assets/main.css">
        <script src="{{site.root}}/assets/main.js"></script>
    </head>
    <body>
        <div id="header">
            {% include 'header.html' %}
            {% include 'menu.html' %}
        </div>
        <div id="body-wrapper">
            <div id="main">
                <div id="content">
                    <div class="clear-block">
                        <div class="node clear-block">
                            <div class="content">
                                {% block content %}Fallback content. :){% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sidebar-right" >
                    <div class="block">
                        <div class="content">
                            {% include 'sponsors.html' %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer">
                {% include 'footer.html' %}
            </div>
        </div>
    </body>
</html>
